.right-panel {
  flex-basis: 350px;
  background: $dark-blue;
  padding-top: 40px;
  position: relative;
}
.title {
  display: flex;
  align-items: center;
  h3 {
    color: $gray-200;
    padding: 0px 10px;
  }
  .line {
  flex:1;
    border: 1px solid $gray-200;
    height: 1px;
  }
}

.form {
  padding: 10px 20px;
  color: $gray-200;
  input {
    background-color: $gray-200;
    height: 30px;
    border-radius: 5px;
    width: 100%;
    margin:  5px 0px 10px 0px;
    padding: 0 10px;
    color: $dark-blue;
  }
  h5 {
    margin: 10px 0px;
  }
  textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: $gray-200;
    color: $dark-blue;

  }
}
.btn {
  float:right;
}

.todo-list {
  position: relative;
  display: block;
  .view {
    display: flex;
  }
  li.editing .view {
    display: none;
  }
  li.editing .edit-mode {
	display: block;
  width: 100%;
}
  li .edit-mode {
    display: none;
  }
  .start {
    position: absolute;
    right: 10px;
    top:7px;
    display: flex;
    div {
      color: $gray-400;
      margin: 0 3px;
      font-size: 1rem;
      cursor: pointer;
      :hover {
      color: $gray-200;
      }
    }
}
  li {
    position: relative;
    background: rgba(255,255,255,0.1);
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
}
input[type=checkbox] {
    padding: 0;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: $dark-blue;
    border: 1px solid $gray-400;
    user-select: none;
    position: relative;
}

input[type=checkbox]:checked {

    &::after {
      content: "\2714";
      position: absolute;
      top: 3px;
      left: 4px;
      font-size: 12px;
      color: $white;
    }
}
.cancel {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 0px;
    right:10px;
    content:'';
    display: block;
    width: 1px;
    height: 20px;
    background: $gray-200;
    transform: rotate(-45deg);
  }
  &::before {
        position: absolute;
    top: 0px;
    right:10px;
    content:'';
    display: block;
    width: 1px;
    height: 20px;
    background: $gray-200;
    transform: rotate(45deg);
  }
}